<%= link_to("<< Back to List", subjects_path, :class => 'back-link') %>

<div class="subjects new">
    <h2>Create Subject</h2>

    <%= form_for(@subject, :url => subjects_path, :method => 'post') do |f| %>
        <table summary="Subject form fields">
            <tr>
                <td>Name</td>
                <td><%= f.text_field(:name) %></td>
            </tr>
            <tr>
                <td>Position</td>
                <td><%= f.text_field(:position) %></td>
            </tr>
            <tr>
                <td>Visible</td>
                <td><%= f.text_field(:visible) %></td>
            </tr>
        </table> 

        <div class="form-buttons">
            <%= f.submit("Create Subject") %>
        </div>   
    <% end %>
</div>