<%= link_to("<< Back to List", subjects_path, :class => 'back-link') %>

<div class="subjects show">
    <h2>Show Subject</h2>

    <table summary="Subject detail view">
        <tr>
            <td>Name</td>
            <td><%= @subject.name %></td>
        </tr>
        <tr>
            <td>Position</td>
            <td><%= @subject.position %></td>
        </tr>
        <tr>
            <td>Visible?</td>
            <td><%= @subject.visible ? 'Yes' : 'No' %></td>
        </tr>
        <tr>
            <td>Created</td>
            <td><%= @subject.created_at %></td>
        </tr>
        <tr>
            <td>Updated</td>
            <td><%= @subject.updated_at %></td>
        </tr>
    </table>
</div>